* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('images/1478873097_leto_gory_priroda_ozero_reka.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: 'Stalinist One', cursive;
    font-weight: 400;
    font-size: 70px; 
    color: beige;
    text-shadow: 0px 0px 20px black;
}

.paragraph {
    font-size: 30px;
    color: blue;
    text-decoration: underline;
}

.timer2 {
    color: red;
    text-decoration: underline;
}

#timer {
    color: white;
    font-size: 100px;
    text-shadow: 0px 0px 20px black;
}